@tailwind base; /* Includes Tailwind's base styles */
@tailwind components; /* Includes Tailwind's component styles */
@tailwind utilities; /* Includes Tailwind's utility classes */

/* Custom Global Styles */
body{
  margin: 0;
  padding: 0px;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* hero */

.hero {
  
  display: flex;
  align-items: center;
  justify-content: center; /* Align content to the left */
  color: rgb(54, 54, 54);
  
  width: 100vw;
  flex-direction: column;
  background: #f3e3d7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

button {
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
